.list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-radius: 8px;
    overflow-x: hidden;

    .listItem{ 
        display: flex;
        padding: 0.5rem;
        align-items: center;
        border: 1px solid #efeded;
        border-radius: 8px;
        cursor: pointer;
        padding-right: 0;
    }

    .listItem:nth-child(odd) {
        background-color: #dedede;
    }
    .listItem:nth-child(even){ 
        background-color: #f9f9f9;
    }
}

@media screen and (max-width: 520px) { 
    .listItem {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        justify-content: center;
        max-height: 106px;
        .iconBox, .nameAndNumber {
            width: 100%;
        }
    }
}