.listItem { 
    display: flex;
    padding: 0.5rem;
    align-items: center;
    border: 1px solid #efeded;
    border-radius: 8px;
    cursor: pointer;
    padding-right: 0;
    max-height: 75px;
    

}
.iconBox{ 
    width: 20%;
    max-width: 95px;
    .icon{ 
        max-width: 90px;
    }
}
.nameAndNumber{ 
    width: 50%;
    span{ 
        font-family: 'PokemonGB';
        font-weight: bold;
        font-size: 12px;
    }
    .nameText{ 
        margin-left: 0.5rem;
    }
}
.typesBox{ 
    display: flex;
    justify-content: flex-end;
    width: 46%;
}