.tag { 
    border: 1px solid #d8d7c9;
    padding: 0.5rem;
    border-radius: 10px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    background-color: #d8d7c9;
    color: white;
}