.tag { 
    border-radius: 10px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    color: white;
    margin: 0.5rem;
    max-width: 129px;
    border: 2px solid black;
    padding: 0.5rem;

    span{ 
        font-weight: bold;
        font-family: 'PokemonGB';
        text-transform: uppercase;
        letter-spacing: -0.5px;
    }
}