.mainContainer { 
    margin: 28% auto;
    margin-bottom: 0;
    display: flex;
    justify-content: start;
    flex-direction: column;
    border-radius: 6px;
    padding-bottom: 2rem;
    padding: 2rem 10rem;
    height: 100%;
    overflow: scroll;

    @media screen and (max-width: 1170px){
        .section { 
            width: 700px;
            margin: auto;
        }
    }
    @media screen and (max-width: 800px){ 
        padding: 1rem 4rem;

        .textSection{ 
            h1 { 
                font-size: 32px !important;
            }
        }
    }
    @media screen and (max-width: 430px){
        padding: 1rem 2rem;
    }
    
    section {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;
    }
    .textSection { 
        h1 { 
            font-size: 49px;
        }
        h2 { 
            font-size: 20px;
        }
        h1, h2 {
            margin: 1.75rem;
        }
    }
    .genCardsSection { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div{ 
            flex: 1 0 21%;
            box-sizing: border-box;
            cursor: pointer;
        }
    }
}

.fade-in-animation { 
    animation: fade 1.2s ease-in;
}
.fade-in-animation-with-delay { 
    animation: fade 1.2s ease-in;
    animation-delay: 1.4s;
    opacity: 1;
}

@keyframes fade { 
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}