.card {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 8px;
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem 1rem;
    background-image: url("../../assets/pokeball.png");
    background-position: right;
    background-size: contain;
    background-color: #020202;
    background-repeat: no-repeat;
    color: white;
    cursor: pointer;
    .cardLabel { 
        font-size: 12px;
        font-weight: bold;
        max-width: 142px;
        line-height: 19px;
        cursor: pointer;
    }
}