@media screen and (max-width: 720px){

    .modalContainer{
        flex-direction: column;
    }
    .imgsContainer{
        flex-direction: row !important; 
        width: 100% !important;
        justify-content: center;
    }

    .infoContainer{
        margin-top: 0 !important;
        width: 100% !important;
    }
    
    .sprite { 
        min-width: 200px;
    }
}

@media screen and (min-width: 720px){ 
    .modalMenu{ 
        position: absolute;
        width: 100%;
    }
}

@media screen and (max-width: 425px){ 
    .bottomInfoBox, .bottomStatBox { 
        max-width: 300px;
    }
}

.modalContainer{ 
    display: flex;

    .modalMenu{ 
        background: #f33333;
        padding: 1rem;
        margin: -22px;
        border: 2px solid black;
        display: flex;
        align-items: center;
        label{ 
            text-shadow: 2px 2px #000000;
            color: white;
            font-size: 18px;
            margin-right: auto;
            font-weight: bold;
        }
        .closeButton { 
            margin-right: 3rem;
            outline: none;
            border: none;
            background: transparent;
            color: white;
            font-family: 'PokemonGB';
            font-size: 18px;
            font-weight: bold;
            display: flex;
            align-items: center;
            .x{ 
                background: white;
                color: #f33333;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                padding: 0.5rem;
                margin-right: 0.5rem;
            }
        }
    }

    .imgsContainer{ 
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .sprite {
            width: 200px;
            margin: 2rem 0;
            image-rendering: pixelated;
        }
    }

    .infoContainer{
        margin-top: 8rem;
        width: 50%;
        .topInfoBox { 
            border: 2px solid black;
            padding: 1rem;
            border-radius: 8px;
            background-color: #f33333;
            color: white;
            max-width: 207px;
            display: flex;
            align-items: center;

            label { 
                text-shadow: 2px 2px #000000;
            }

            .pokeballIcon{ 
                width: 26px;
                margin-right: 0.25rem;
                box-shadow: inset 0px 0px 0px 10px #f9f3f3;
                border-radius: 50%;
                border: 1px solid white;
                transform: rotate(-45deg);
                image-rendering: pixelated;
            }

            .pokemonName {
                margin-left: 0.75rem;
                letter-spacing: -4.5px;
            }
        }

        .midInfoBox {
            display: flex;
            justify-content: flex-start;
            margin: 1.5rem 0;
            
            div:first-child{
                margin-left: 0;
            }
        }

        .bottomInfoBox, .bottomStatBox { 
            display: flex;
            border: 1px solid black;
            background: white;
            border-radius: 8px;
            .redLine{ 
                width: 10px;
                background: #f33333;
            }
            .infos {
                display: flex;
                flex-direction: column;
                margin: 0 1rem;
                justify-content: center;
                width: 100%;

                div:first-child{
                    border-bottom: 3px dotted #757373;
                }
            }
        }
        .bottomStatBox{
            margin-top: 1rem;
        }
    }
}


// @media screen and (max-width: )